body{
 background: rgb(20,27,33);
background: radial-gradient(circle, rgba(20,27,33,1) 40%, rgba(27,37,59,1) 100%);
}

.weather-container{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
   

}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #8c52ff;
    color: white;
}

.day-time{
    display: flex;
    justify-content:end;
}

.city{
    display: flex;
    justify-content:end;
    position: relative;
    left: -65px;
}

 .emoji{
   
    font-size: 100px;
} 
.temperature{
    display: flex;
    justify-content: end;
    
}

table,td{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 15px;
}

.temp{
     display: block;
     top: -60px;
     position: relative;
     font-size: 60px;
}
.temp-descr{
   position: relative;
    left:30px;
}
weather-icon-desc{
    display: flex;
    justify-content: start;
    font-size: 80px;
   
}