body{
 background: rgb(20,27,33);
 background: radial-gradient(circle, rgba(20,27,33,1) 40%, rgba(27,37,59,1) 100%);
  font-family: "Roboto", sans-serif;
}

.weather-container{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
   
   

}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 300px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    cursor: pointer;


}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    cursor: pointer;
}
form:hover input{
    display: block;
}
/* form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #8c52ff;
    color: white;
} */

.day-time{
    display: flex;
    justify-content:end;
    left: -65px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);

}

.city{
    display: flex;
    justify-content:end;
    position: relative;
    left: -65px;
    font-size: 45px;
}

 .emoji{
    display: flex;
    justify-content: end;
    font-size: 110px;
    left:-40px;
    position: relative;
} 

table,td{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.temp{
     display: block;
     top: -95px;
     position: relative;
     font-size: 50px;
     
}
.temp-descr{
   position: relative;
   left:5px;
   top: -20px;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.6);
}

.weather-icon-desc{
    display: flex;
    justify-content: end;
    font-size: 80px;
   
}
.weather-app-unit{
    font-size: 35px;
    position: relative;
    left: 55px;
    margin-top: -150px;
    
}
.unit{
     color: #8c52ff ;
}
 
footer{
    border-top: 1px solid #f9f7fe;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.current-descr{
    display: flex;
    justify-content:start;
    position: relative;
    font-size: 16px;
    margin-top: -60px;
}
.now{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-links{
    color:  #8c52ff ;
}